@page "/control_panel"
@using System.Net.Http
@using System.Net.Http.Headers
@using System.Net.Http.Json
@using BlazorClient.Model
@using BlazorClient.Model.Responses
@using Newtonsoft.Json
@inject HttpClient Http
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject NavigationManager Nav

<div class="text">
    <h1 class="h1-title"> Welcome to Grid the Grid</h1><br />
    @if (!sessionStorage.GetItem<bool>("logged"))
    {
        <h2 class="h1-title"> TODO: redirect on register or login </h2>
    }
    <h2 class="h1-title">@companyConfiguration</h2>
    <writeSession What="companyConfiguration" />
</div>
<br />

@if (sessionStorage.GetItem<bool>("logged"))
{
    <div class="flex-container" style="margin: 0 auto; display:flex; justify-content:center; width:50%">
        <EditForm Model="@companyModel" OnValidSubmit="@PostCompanyConfiguration">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputText id="Company Name" @bind-Value="companyModel.CompanyName" type="text" class="form-control" placeholder="Company Name" required />
            <br />
            <InputText id="Company Identification Number" @bind-Value="companyModel.CompanyIdentificationNumber" type="text" class="form-control" placeholder="CIN" required />
            <br />
            <InputText id="Country" @bind-Value="companyModel.Country" type="text" class="form-control" placeholder="Country" required />
            <br />
            <InputNumber id="Tax Rates" @bind-Value="companyModel.TaxRates" class="form-control" placeholder="0.01" required />
            <br />
            <button class="custom-button" type="submit">Submit</button>
        </EditForm>
    </div>
}

@code {
    private string companyConfiguration;

    private BlazorClient.Model.CompanyModel companyModel = new BlazorClient.Model.CompanyModel();

    protected override async void OnInitialized()
    {
        companyConfiguration = sessionStorage.GetItem<string>("companyConfiguration");
        if (companyConfiguration == null)
        {
            var request = new HttpRequestMessage()
            {
                Method = new HttpMethod("GET"),
                RequestUri = new Uri("http://localhost:49429/control_panel" + "/configuration?userId=" + sessionStorage.GetItem<string>("userId")),
            };
            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", sessionStorage.GetItem<string>("token"));
            var response = await Http.SendAsync(request);
            var responseBody = await response.Content.ReadAsStringAsync();
            Console.WriteLine(responseBody);
            var iRes = JsonConvert.DeserializeObject<BaseResponse>(responseBody);
            if (!iRes.Success)
            {
                // ERROR
                return;
            }
            var mRes = JsonConvert.DeserializeObject<MessageResponse>(responseBody);
            sessionStorage.SetItem<string>("companyConfiguration", mRes.Message);
            companyConfiguration = mRes.Message;
        }
        companyModel = JsonConvert.DeserializeObject<CompanyModel>(companyConfiguration);
    }

    private string response;

    private async Task PostCompanyConfiguration()
    {
        var method = companyConfiguration == null ? "POST" : "PUT";
        var request = new HttpRequestMessage()
        {
            Method = new HttpMethod(method),
            RequestUri = new Uri("http://localhost:49429/control_panel" + "/configuration"),
            Content = JsonContent.Create(companyModel)
        };
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", sessionStorage.GetItem<string>("token"));
        var response = await Http.SendAsync(request);
        var responseStatusCode = response.StatusCode;

        var responseBody = await response.Content.ReadAsStringAsync();

        sessionStorage.SetItem<string>("companyConfiguration", responseBody);

        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}
