@page "/"

<div class="flex-container" style="background-color:rgba(0, 0, 0, 0.25); margin:auto auto">
    <div id="display">
        <h1><a title="Gird the Grid" href="http://nealford.com/katas/kata?id=GirdTheGrid">Gird the Grid</a></h1><br /><p>A company who builds management software for electrical grids needs to update their outdated software solution, and plan to sell their offering as a platform.</p>
        <br /><ul style="list-style:none">
            <li>Users: small to medium size market electic market companies, able to accommodate electrical grids from 100,000-1,900,000 electrical customers</li>
            <li><h3>Requirements:</h3></li>
            <li><ul style="list-style:none"><li>configurable for specific grid company characteristics (state, tax rates, etc.)</li><li>state-of-the-art user experience</li><li>dashboards with analytics reports with near-real time data from the grid</li><li>excellent reporting capabilities</li><li>sophisticated analytics-based engine to determine best throughput/money</li><li>administer through either desktop or mobile devices</li><li>security penetration attempt reporting</li></ul></li>
            <li><h4>Additional Context:</h4></li>
            <li><ul style="list-style:none"><li>Four nines (99.99) reliability</li><li>turn-key deployment on remote sites</li><li>security is a first-class concern</li><li>company wants to shift from managing electrical grids to becoming a software reseller</li></ul></li>
        </ul>
    </div>
    <br /><br />
    <h3>The project is based <a href="https://github.com/Ana-poto/Gird-the-Grid">here</a>.</h3>
</div>